* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: hsl(248, 53%, 3%);
    background-color: white;
    margin: 1.25em;
}

section {
    padding: 2vh 25vw;
    text-align: left;
}

section p {
    padding: 1vh 0;
}

.form-container {
    margin: 1em 0 1.25em;
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.toggle-rent, .add-rent {
    margin-top: 0.75em;
}

#scenarios {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 0.75em;
}

.scenario {
    flex: 0 0 auto;
    min-width: 16em;
    padding: 0.75em;
    background-color: white;
    border: 1px solid hsl(248, 53%, 90%);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    height: 1rem;
    width: 12rem;
    padding: 0.75rem 0;
    margin-bottom: 0.75rem;
    color: hsl(248, 53%, 3%);
}

.inputs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.input-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

input, select {
    padding: 0.25rem;
    border: 0.1rem solid hsl(248, 53%, 90%);
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
    width: 6em;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus {
    border-color: hsl(248, 53%, 58%);
    outline: none;
    box-shadow: 0 0 5px rgba(56, 142, 255, 0.5);
}

small {
    color: red;
    display: none;
    text-align: center;
}

.invalid {
    border: 2px solid red;
}

button {
    max-width: 16rem;
    display: inline-block;
    border-radius: 0.25rem;
    margin-top: 0.5em;
    padding: 0.75em 1.25em;
    background-color: hsl(248, 53%, 95%);
    border: 0.1rem solid hsl(248, 53%, 90%);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
    background-color: hsl(248, 53%, 90%);
    border-color: hsl(248, 53%, 58%);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 0.0675em solid black;
    padding: 0.0675em;
    text-align: center;
}

.amortizationTable {
    max-width: 100%;
}

.results {
    flex-shrink: 0;
    margin-top: auto;
    max-width: max-content;
}

.results-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.results-table td {
    padding: 8px 10px;
    text-align: left;
}

.results-table td:first-child {
    font-weight: bold;
}

.results-table tr:not(:last-child) td {
    padding-bottom: 10px;
}
